---
---
//
// IMPORTS
//
// Berkeley Mono font (assumed to be installed locally or via CDN)
// Add @font-face declaration here if you have the font files

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $base;
  font: 14px/1.4 'Berkeley Mono', monospace;
  color: $text;
}

.container {
  margin: 0 auto;
  max-width: 700px;
  padding: 0 40px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Berkeley Mono', monospace;
  color: $text;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-family: 'Berkeley Mono', monospace;
  font-size: 50px;

  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:active {
    color: $sapphire;
  }
}

ul,
ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

small {
  font-size: smaller;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $base;
  background: $pink;
}

::selection {
  color: $base;
  background: $pink;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $overlay0;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $text;
  cursor: pointer;
  font-family: 'Berkeley Mono', monospace;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: 'Berkeley Mono', monospace;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $text;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $text;
    }
  }
}

//
// .main
//

.posts>.post {
    margin-bottom: 0;
    padding-bottom: 0;
}

.posts>.post + .post {
    margin-top: 0;
}

.post .comments, .post .read-more {
    margin-top: 0;
}

.post h1 {
    line-height: 1.0;
}



.post {
  p a, .entry p a {
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }

  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

// Footnote reference
a.footref {
  vertical-align: super;
  font-size: smaller;
}

.footdef {
  font-size: smaller;
}

// Use this for centering images
// {: .center}
.center {
  text-align: center;
}

// Shade `text`
code.highlighter-rouge {
  background-color: $surface0;
}

/* CRITICAL FIX: Make MathJax render properly */
.MathJax_Display {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

/* For the INNER content of the MathJax equation */
.MathJax_Display > .MathJax {
  max-width: 100%;
  overflow-x: auto !important;
}

/* MathJax display mode container */
.mjx-chtml.MJXc-display {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 5px;
}

/* SVG container */
.MathJax_SVG_Display {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 5px;
}

/* Mobile-specific fixes */
@include mobile {
  /* Make MathJax content fit mobile width but still be readable */
  .MathJax, .MathJax_Display, .MathJax_Preview {
    font-size: 100% !important;
  }
  
  /* Fix container overflow */
  .post, .entry, .container {
    overflow-x: hidden;
    max-width: 100%;
  }
  
  /* Hide MathJax message */
  #MathJax_Message {
    display: none !important;
  }
}

// Table formatting
.post table,
tr,
td,
th {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid $overlay0;
}

.post th {
  padding: 6px 13px;
  font-weight: bold;
}

.post table tr:nth-child(2n) {
  background-color: $surface0;
}

.post td {
  padding-bottom: 6px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 6px;
}

// Specific (code samples, radare-exported asm)
code {
  font-family: 'Berkeley Mono', monospace;
  white-space: pre;
  font-size: 90%;
  line-height: 1.0;
  color: $subtext0;
}

pre {
  font-family: 'Berkeley Mono', monospace;
  white-space: pre;
  font-size: 80%;
  line-height: 1.0;
}

pre.radareasm {
  background-color: $crust;
  color: $text;
  overflow: auto;
  scrollbar-color: $crust $mantle;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    background-color: $crust;
    height: 8px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $overlay0;
    border-radius: 4px;
  }
}

.pagination {
    padding-top: 64px;
}

.entry {
    padding-top: 7px;
    
    @include mobile {
      text-align: left;
      word-spacing: normal !important;
      letter-spacing: normal !important;
      hyphens: auto;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
    }
    
    @media screen and (min-width: 641px) {
        text-align: justify;
    }
    
    p {
      @include mobile {
        text-align: left !important;
        word-spacing: normal !important;
        letter-spacing: normal !important;
      }
    }
}

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

// Footnote reference in text (e.g., [^1])
sup[id^="fnref"] {
    font-size: 0.8em;
    vertical-align: super;
    line-height: 0;
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

// Footnote list at bottom
.footnotes {
    margin-top: 2em;
    font-size: 0.9em;
    
    ol {
        margin-top: 0.5em;
    }
    
    li {
        margin-bottom: 0.5em;
    }
    
    .reversefootnote {
        text-decoration: none;
        margin-left: 0.3em;
        &:hover {
            text-decoration: underline;
        }
    }
}
