---
---
//
// IMPORTS
//
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;700&display=swap');
@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: #ffffff;
  font: 18px/1.4 'Source Serif Pro', serif;
  color: #000000;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Serif Pro', serif;
  color: #000000;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 50px;
  text-decoration: underline;

  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: #333333;
  text-decoration: none;
  cursor: pointer;
  text-decoration: underline;

  &:hover,
  &:active {
    color: #666666;
    text-decoration: underline;
  }
}

ul,
ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

small {
  font-size: smaller;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: #d2c8da;
}

::selection {
  color: $black;
  background: #d2c8da;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid #000000;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: #000000;
  cursor: pointer;
  font-family: 'Source Serif Pro', serif;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: 'Source Serif Pro', serif;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: #000000;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: #000000;
    }
  }
}

//
// .main
//

.posts>.post {
    margin-bottom: 0;
    padding-bottom: 0;
}

.posts>.post + .post {
    margin-top: 0;
}

.post .comments, .post .read-more {
    margin-top: 0;
}

.post h1 {
    line-height: 1.0;
}



.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

// Footnote reference
a.footref {
  vertical-align: super;
  font-size: smaller;
}

.footdef {
  font-size: smaller;
}

// Use this for centering images
// {: .center}
.center {
  text-align: center;
}

// Shade `text`
code.highlighter-rouge {
  background-color: rgba(0, 0, 0, 0.04);
}

// Table formatting
.post table,
tr,
td,
th {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #c0c0c0;
}

.post th {
  padding: 6px 13px;
  font-weight: bold;
}

.post table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.post td {
  padding-bottom: 6px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 6px;
}

// Specific (code samples, radare-exported asm)
code {
  font-family: monospace;
  white-space: pre;
  font-size: 80%;
  line-height: 1.0;
  color: #666666;
}

pre {
  font-family: monospace;
  white-space: pre;
  font-size: 80%;
  line-height: 1.0;
}

pre.radareasm {
  background-color: #000000;
  color: #c0c0c0;
  overflow: scroll;
}

.pagination {
    padding-top: 64px;
}

.entry {
    padding-top: 7px;
}
