div.highlight {
  background-color: $mantle;
  padding: 7px 7px 7px 10px;
  border: 1px solid $surface0;
  -moz-box-shadow: 3px 3px rgba(76, 79, 105, 0.1);
  -webkit-box-shadow: 3px 3px rgba(76, 79, 105, 0.1);
  box-shadow: 3px 3px rgba(76, 79, 105, 0.1);
  margin: 20px 0 20px 0;
  overflow: auto;
  scrollbar-color: $mantle $surface0;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    background-color: $mantle;
    height: 8px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $surface1;
    border-radius: 4px;
  }
}

code {
  font-family:'Bitstream Vera Sans Mono','Courier', monospace;
}

/* Catppuccin Latte Syntax Highlighting */
.highlight .c { color: $overlay0 } /* Comment */
.highlight .err { color: $red } /* Error */
.highlight .g { color: $text } /* Generic */
.highlight .k { color: $mauve } /* Keyword */
.highlight .l { color: $peach } /* Literal */
.highlight .n { color: $text } /* Name */
.highlight .o { color: $sky } /* Operator */
.highlight .x { color: $peach } /* Other */
.highlight .p { color: $overlay2 } /* Punctuation */
.highlight .cm { color: $overlay0 } /* Comment.Multiline */
.highlight .cp { color: $mauve } /* Comment.Preproc */
.highlight .c1 { color: $overlay0 } /* Comment.Single */
.highlight .cs { color: $overlay1 } /* Comment.Special */
.highlight .gd { color: $red } /* Generic.Deleted */
.highlight .ge { color: $text; font-style: italic } /* Generic.Emph */
.highlight .gr { color: $red } /* Generic.Error */
.highlight .gh { color: $blue; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: $green } /* Generic.Inserted */
.highlight .go { color: $subtext0 } /* Generic.Output */
.highlight .gp { color: $subtext1 } /* Generic.Prompt */
.highlight .gs { color: $text; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: $blue; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: $red } /* Generic.Traceback */
.highlight .kc { color: $peach } /* Keyword.Constant */
.highlight .kd { color: $mauve } /* Keyword.Declaration */
.highlight .kn { color: $pink } /* Keyword.Namespace */
.highlight .kp { color: $mauve } /* Keyword.Pseudo */
.highlight .kr { color: $mauve } /* Keyword.Reserved */
.highlight .kt { color: $yellow } /* Keyword.Type */
.highlight .ld { color: $green } /* Literal.Date */
.highlight .m { color: $peach } /* Literal.Number */
.highlight .s { color: $green } /* Literal.String */
.highlight .na { color: $blue } /* Name.Attribute */
.highlight .nb { color: $peach } /* Name.Builtin */
.highlight .nc { color: $yellow } /* Name.Class */
.highlight .no { color: $peach } /* Name.Constant */
.highlight .nd { color: $blue } /* Name.Decorator */
.highlight .ni { color: $pink } /* Name.Entity */
.highlight .ne { color: $red } /* Name.Exception */
.highlight .nf { color: $blue } /* Name.Function */
.highlight .nl { color: $blue } /* Name.Label */
.highlight .nn { color: $yellow } /* Name.Namespace */
.highlight .nx { color: $text } /* Name.Other */
.highlight .py { color: $blue } /* Name.Property */
.highlight .nt { color: $mauve } /* Name.Tag */
.highlight .nv { color: $text } /* Name.Variable */
.highlight .ow { color: $sky } /* Operator.Word */
.highlight .w { color: $text } /* Text.Whitespace */
.highlight .mf { color: $peach } /* Literal.Number.Float */
.highlight .mh { color: $peach } /* Literal.Number.Hex */
.highlight .mi { color: $peach } /* Literal.Number.Integer */
.highlight .mo { color: $peach } /* Literal.Number.Oct */
.highlight .sb { color: $green } /* Literal.String.Backtick */
.highlight .sc { color: $green } /* Literal.String.Char */
.highlight .sd { color: $overlay0 } /* Literal.String.Doc */
.highlight .s2 { color: $green } /* Literal.String.Double */
.highlight .se { color: $peach } /* Literal.String.Escape */
.highlight .sh { color: $green } /* Literal.String.Heredoc */
.highlight .si { color: $green } /* Literal.String.Interpol */
.highlight .sx { color: $green } /* Literal.String.Other */
.highlight .sr { color: $green } /* Literal.String.Regex */
.highlight .s1 { color: $green } /* Literal.String.Single */
.highlight .ss { color: $green } /* Literal.String.Symbol */
.highlight .bp { color: $peach } /* Name.Builtin.Pseudo */
.highlight .vc { color: $text } /* Name.Variable.Class */
.highlight .vg { color: $text } /* Name.Variable.Global */
.highlight .vi { color: $text } /* Name.Variable.Instance */
.highlight .il { color: $peach } /* Literal.Number.Integer.Long */